/* ========================================================================
 * HAOest: animation.css
 * ========================================================================*/

/* bubble */
.ani-bubble {
    -webkit-animation: bubble 1.3s ease-out infinite both;
    animation: bubble 1.3s ease-out infinite both;
}

/* fade */
.ani-fadeIn {
    -webkit-animation: fadeIn .7s ease-in both;
    animation: fadeIn .7s ease-in both;
}

.ani-fadeOut {
    -webkit-animation: fadeOut .7s ease-out both;
    animation: fadeOut .7s ease-out both;
}

/* flag wave*/
.ani-flagWave {
    -webkit-animation: flagWave 8s linear both infinite;
    animation: flagWave 8s linear both infinite;
}

/* floating tag */
.ani-tagFloatingLeft {
    transform-origin: center center;
    -webkit-animation: tagFloatingLeft 5s linear infinite both;
    animation: tagFloatingLeft 5s linear infinite both;
}

.ani-tagFloatingRight {
    transform-origin: center center;
    -webkit-animation: tagFloatingRight 5s linear infinite both;
    animation: tagFloatingRight 5s linear infinite both;
}

/* move from */
.ani-moveFromLeft {
    -webkit-animation: moveFromLeft .6s ease both;
    animation: moveFromLeft .6s ease both;
}

.ani-moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}

.ani-moveFromTop {
    -webkit-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.ani-moveFromBottom {
    -webkit-animation: moveFromBottom .6s ease both;
    animation: moveFromBottom .6s ease both;
}

/* move to */
.ani-moveToLeft {
    -webkit-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
}

.ani-moveToRight {
    -webkit-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}

.ani-moveToTop {
    -webkit-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

.ani-moveToBottom {
    -webkit-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

/* move from fade */
.ani-moveFromLeftFade {
    -webkit-animation: moveFromLeftFade .7s ease-in both;
    animation: moveFromLeftFade .7s ease-in both;
}

.ani-moveFromRightFade {
    -webkit-animation: moveFromRightFade .7s ease-in both;
    animation: moveFromRightFade .7s ease-in both;
}

.ani-moveFromTopFade {
    -webkit-animation: moveFromTopFade .7s ease-in both;
    animation: moveFromTopFade .7s ease-in both;
}

.ani-moveFromBottomFade {
    -webkit-animation: moveFromBottomFade .7s ease-in both;
    animation: moveFromBottomFade .7s ease-in both;
}

/* move to fade */
.ani-moveToLeftFade {
    -webkit-animation: moveToLeftFade .7s ease-out both;
    animation: moveToLeftFade .7s ease-out both;
}

.ani-moveToRightFade {
    -webkit-animation: moveToRightFade .7s ease-out both;
    animation: moveToRightFade .7s ease-out both;
}

.ani-moveToTopFade {
    -webkit-animation: moveToTopFade .7s ease-out both;
    animation: moveToTopFade .7s ease-out both;
}

.ani-moveToBottomFade {
    -webkit-animation: moveToBottomFade .7s ease-out both;
    animation: moveToBottomFade .7s ease-out both;
}

/* spring move */
.ani-moveUpDownSpring {
    -webkit-animation: moveUpDownSpring ease-in-out 1.2s both;
    animation: moveUpDownSpring ease-in-out 1.2s both;
}

.ani-moveDownUpSpring {
    -webkit-animation: moveDownUpSpring ease-in-out 1.2s both;
    animation: moveDownUpSpring ease-in-out 1.2s both;
}

.ani-moveLeftRightSpring {
    -webkit-animation: moveLeftRightSpring ease-in-out 1.2s both;
    animation: moveLeftRightSpring ease-in-out 1.2s both;
}

.ani-moveRightLeftSpring {
    -webkit-animation: moveRightLeftSpring ease-in-out 1.2s both;
    animation: moveRightLeftSpring ease-in-out 1.2s both;
}

/* rotate */
.ani-rotateRight {
    -webkit-animation: rotateRight 2s linear infinite both;
    animation: rotateRight 2s linear infinite both;
}

.ani-rotateLeft {
    -webkit-animation: rotateLeft 2s linear infinite both;
    animation: rotateLeft 2s linear infinite both;
}

.ani-rotateIn {
    -webkit-animation: rotateIn .8s ease both;
    animation: rotateIn .8s ease both;
}

.ani-rotateOut {
    -webkit-animation: rotateOut .8s ease both;
    animation: rotateOut .8s ease both;
}


/* scale */
.ani-scaleDown {
    -webkit-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
}

.ani-scaleUpCenter {
    -webkit-animation: scaleUpCenter .7s ease both;
    animation: scaleUpCenter .7s ease both;
}

.ani-scaleUp {
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}

.ani-scaleDownCenter {
    -webkit-animation: scaleDownCenter .7s ease both;
    animation: scaleDownCenter .7s ease both;
}

/* animation duration */
.ani-duration100 {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
}

.ani-duration200 {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.ani-duration300 {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.ani-duration400 {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
}

.ani-duration500 {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.ani-duration600 {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}

.ani-duration700 {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

.ani-duration800 {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}

.ani-duration900 {
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
}

.ani-duration1000 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.ani-duration1100 {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

.ani-duration1200 {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.ani-duration1300 {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.ani-duration1400 {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

.ani-duration1500 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.ani-duration1600 {
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}

.ani-duration1700 {
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

.ani-duration1800 {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}

.ani-duration1900 {
    -webkit-animation-duration: 1.9s;
    animation-duration: 1.9s;
}

.ani-duration2000 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/* animation iteration count */
.ani-iteration-2 {
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.ani-iteration-3 {
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

.ani-iteration-infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* animation delay */
.ani-delay100 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.ani-delay200 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.ani-delay300 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.ani-delay400 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.ani-delay500 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.ani-delay600 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.ani-delay700 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

.ani-delay800 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.ani-delay900 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.ani-delay1000 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.ani-delay1100 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.ani-delay1200 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.ani-delay1300 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.ani-delay1400 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.ani-delay1500 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.ani-delay1600 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.ani-delay1700 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.ani-delay1800 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.ani-delay1900 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.ani-delay2000 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.ani-delay2100 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.ani-delay2200 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.ani-delay2300 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.ani-delay2400 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.ani-delay2500 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.ani-delay2600 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
}

.ani-delay2700 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}

.ani-delay2800 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.ani-delay2900 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
}

.ani-delay3000 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.ani-delay3100 {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
}

.ani-delay3200 {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
}

.ani-delay3300 {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
}

.ani-delay3400 {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}

.ani-delay3500 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.ani-delay3600 {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

.ani-delay3700 {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
}

.ani-delay3800 {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s;
}

.ani-delay3900 {
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
}

.ani-delay4000 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.ani-delay4100 {
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s;
}

.ani-delay4200 {
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}

.ani-delay4300 {
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s;
}

.ani-delay4400 {
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
}

.ani-delay4500 {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

.ani-delay4600 {
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
}

.ani-delay4700 {
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s;
}

.ani-delay4800 {
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s;
}

.ani-delay4900 {
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s;
}

.ani-delay5000 {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

/* key frames*/
@-webkit-keyframes moveFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}


@-webkit-keyframes moveFromTop {
    0% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveFromTop {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromBottom {
    0% {
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveFromBottom {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveToLeft {
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveToLeft {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveToRight {
    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveToRight {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveToTop {
    100% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveToTop {
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToBottom {
    100% {
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveToBottom {
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveToLeftFade {
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveToLeftFade {
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromLeftFade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveFromLeftFade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveToRightFade {
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveToRightFade {
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveFromRightFade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveFromRightFade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveToTopFade {
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveToTopFade {
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromTopFade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveFromTopFade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToBottomFade {
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveToBottomFade {
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveFromBottomFade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveFromBottomFade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/* fade */
@-webkit-keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
}

/* scale and fade */

@-webkit-keyframes scaleDown {
    100% {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@keyframes scaleDown {
    100% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

@-webkit-keyframes scaleUpCenter {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1);
    }

    1% {
        opacity: 1;
        -webkit-transform: scale(.1);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleUpCenter {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }

    1% {
        opacity: 1;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes scaleDownCenter {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
    }
}

@keyframes scaleDownCenter {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes scaleUp {
    0% {
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
    }
}

@keyframes scaleUp {
    0% {
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes moveUpDownSpring {
    0% {
        -webkit-transform: translateY(-100%);
        -webkit-opacity: 0;
    }

    5% {
        -webkit-transform: translateY(-80%);
        -webkit-opacity: 0.3;
    }

    35% {
        -webkit-transform: translateY(10%);
        -webkit-opacity: 1;
    }

    60% {
        -webkit-transform: translateY(-13%);
    }

    65% {
        -webkit-transform: translateY(-13%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes moveUpDownSpring {
    0% {
        -webkit-transform: translateY(-100%);
        -webkit-opacity: 0;
        transform: translateY(-100%);
        opacity: 0;
    }

    5% {
        -webkit-transform: translateY(-80%);
        -webkit-opacity: 0.3;
        transform: translateY(-80%);
        opacity: 0.3;
    }

    35% {
        -webkit-transform: translateY(10%);
        -webkit-opacity: 1;
        transform: translateY(10%);
        opacity: 1;
    }

    60% {
        -webkit-transform: translateY(-13%);
        transform: translateY(-13%);
    }

    65% {
        -webkit-transform: translateY(-13%);
        transform: translateY(-13%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes moveDownUpSpring {
    0% {
        -webkit-transform: translateY(-100%);
        -webkit-opacity: 0;
    }

    5% {
        -webkit-transform: translateY(-80%);
        -webkit-opacity: 0.3;
    }

    35% {
        -webkit-transform: translateY(10%);
        -webkit-opacity: 1;
    }

    60% {
        -webkit-transform: translateY(-13%);
    }

    65% {
        -webkit-transform: translateY(-13%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes moveDownUpSpring {
    0% {
        -webkit-transform: translateY(100%);
        -webkit-opacity: 0;
        transform: translateY(100%);
        opacity: 0;
    }

    5% {
        -webkit-transform: translateY(80%);
        -webkit-opacity: 0.3;
        transform: translateY(80%);
        opacity: 0.3;
    }

    35% {
        -webkit-transform: translateY(-10%);
        -webkit-opacity: 1;
        transform: translateY(-10%);
        opacity: 1;
    }

    60% {
        -webkit-transform: translateY(13%);
        transform: translateY(13%);
    }

    65% {
        -webkit-transform: translateY(13%);
        transform: translateY(13%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes moveLeftRightSpring {
    0% {
        -webkit-transform: translateX(-100%);
        -webkit-opacity: 0;
    }

    5% {
        -webkit-transform: translateX(-80%);
        -webkit-opacity: 0.3;
    }

    35% {
        -webkit-transform: translateX(6%);
        -webkit-opacity: 1;
    }

    60% {
        -webkit-transform: translateX(-8%);
    }

    65% {
        -webkit-transform: translateX(-8%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes moveLeftRightSpring {
    0% {
        -webkit-transform: translateX(-100%);
        -webkit-opacity: 0;
        transform: translateX(-100%);
        opacity: 0;
    }

    5% {
        -webkit-transform: translateX(-80%);
        -webkit-opacity: 0.3;
        transform: translateX(-80%);
        opacity: 0.3;
    }

    35% {
        -webkit-transform: translateX(6%);
        -webkit-opacity: 1;
        transform: translateX(6%);
        opacity: 1;
    }

    60% {
        -webkit-transform: translateX(-8%);
        transform: translateX(-8%);
    }

    65% {
        -webkit-transform: translateX(-8%);
        transform: translateX(-8%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes moveRightLeftSpring {
    0% {
        -webkit-transform: translateX(100%);
        -webkit-opacity: 0;
    }

    5% {
        -webkit-transform: translateX(80%);
        -webkit-opacity: 0.3;
    }

    35% {
        -webkit-transform: translateX(-6%);
        -webkit-opacity: 1;
    }

    60% {
        -webkit-transform: translateX(8%);
    }

    65% {
        -webkit-transform: translateX(8%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes moveRightLeftSpring {
    0% {
        -webkit-transform: translateX(100%);
        -webkit-opacity: 0;
        transform: translateX(100%);
        opacity: 0;
    }

    5% {
        -webkit-transform: translateX(80%);
        -webkit-opacity: 0.3;
        transform: translateX(80%);
        opacity: 0.3;
    }

    35% {
        -webkit-transform: translateX(-6%);
        -webkit-opacity: 1;
        transform: translateX(-6%);
        opacity: 1;
    }

    60% {
        -webkit-transform: translateX(8%);
        transform: translateX(8%);
    }

    65% {
        -webkit-transform: translateX(8%);
        transform: translateX(8%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes flagWave {
    0% {
        opacity: 0;
        -webkit-transform: translate(-250%, -500%) rotate(30deg);
    }

    5% {
        opacity: 1;
        -webkit-transform: translate(-225%, -450%) rotate(28deg);
    }

    50% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%) rotate(0);
    }

    95% {
        opacity: 1;
        -webkit-transform: translate(225%, 450%) rotate(-115deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(250%, 500%) rotate(-120deg);
    }
}

@keyframes flagWave {
    0% {
        opacity: 0;
        -webkit-transform: translate(-250%, -500%) rotate(30deg);
        transform: translate(-250%, -500%) rotate(30deg);
    }

    5% {
        opacity: 1;
        -webkit-transform: translate(-225%, -450%) rotate(28deg);
        transform: translate(-225%, -450%) rotate(28deg);
    }

    50% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%) rotate(0);
        transform: translate(0%, 0%) rotate(0);
    }

    95% {
        opacity: 1;
        -webkit-transform: translate(225%, 450%) rotate(-115deg);
        transform: translate(225%, 450%) rotate(-115deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(250%, 500%) rotate(-120deg);
        transform: translate(250%, 500%) rotate(-120deg);
    }
}

@-webkit-keyframes tagFloatingLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
    }

    25% {
        opacity: 0.4;
        -webkit-transform: translateX(10%) translateY(30%) scale(0.8);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateX(0) translateY(0) scale(1);
    }

    75% {
        opacity: 0.4;
        -webkit-transform: translateX(-10%) translateY(-30%) scale(0.8);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
    }
}

@keyframes tagFloatingLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
        transform: translateX(0) translateY(0) scale(0.5);
    }

    25% {
        opacity: 0.4;
        -webkit-transform: translateX(10%) translateY(30%) scale(0.8);
        transform: translateX(10%) translateY(30%) scale(0.8);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateX(0) translateY(0) scale(1);
        transform: translateX(0) translateY(0) scale(1);
    }

    75% {
        opacity: 0.4;
        -webkit-transform: translateX(-10%) translateY(-30%) scale(0.8);
        transform: translateX(-10%) translateY(-30%) scale(0.8);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
        transform: translateX(0) translateY(0) scale(0.5);
    }
}

@-webkit-keyframes tagFloatingRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
    }

    25% {
        opacity: 0.4;
        -webkit-transform: translateX(-10%) translateY(30%) scale(0.8);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateX(0) translateY(0) scale(1);
    }

    75% {
        opacity: 0.4;
        -webkit-transform: translateX(10%) translateY(-30%) scale(0.8);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
    }
}

@keyframes tagFloatingRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
        transform: translateX(0) translateY(0) scale(0.5);
    }

    25% {
        opacity: 0.4;
        -webkit-transform: translateX(-10%) translateY(30%) scale(0.8);
        transform: translateX(-10%) translateY(30%) scale(0.8);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateX(0) translateY(0) scale(1);
        transform: translateX(0) translateY(0) scale(1);
    }

    75% {
        opacity: 0.4;
        -webkit-transform: translateX(10%) translateY(-30%) scale(0.8);
        transform: translateX(10%) translateY(-30%) scale(0.8);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0) scale(0.5);
        transform: translateX(0) translateY(0) scale(0.5);
    }
}


@-webkit-keyframes bubble {
    0% {
        opacity: 0;
        -webkit-transform: translate(50%, 0);
    }

    1% {
        opacity: 0.8;
        -webkit-transform: translate(20%, 0);
    }

    20% {
        opacity: 0.7;
        -webkit-transform: translate(0%, -60%);
    }

    40% {
        opacity: 0.6;
        -webkit-transform: translate(50%, -140%);
    }

    60% {
        opacity: 0.5;
        -webkit-transform: translate(0%, -240%);
    }

    80% {
        opacity: 0.3;
        -webkit-transform: translate(50%, -360%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -500%);
    }
}

@keyframes bubble {
    0% {
        opacity: 0;
        -webkit-transform: translate(50%, 0);
    }

    1% {
        opacity: 0.8;
        -webkit-transform: translate(20%, 0);
    }

    20% {
        opacity: 0.7;
        -webkit-transform: translate(0%, -60%);
    }

    40% {
        opacity: 0.6;
        -webkit-transform: translate(50%, -140%);
    }

    60% {
        opacity: 0.5;
        -webkit-transform: translate(0%, -240%);
    }

    80% {
        opacity: 0.3;
        -webkit-transform: translate(50%, -360%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -500%);
    }
}


@-webkit-keyframes rotateRight {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateRight {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateLeft {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotateLeft {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotateIn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-360deg) scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
    }
}

@keyframes rotateIn {

    0% {
        opacity: 0;
        -webkit-transform: rotate(-360deg) scale(0);
        transform: rotate(-360deg) scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}

@-webkit-keyframes rotateOut {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(-360deg) scale(0);
    }
}

@keyframes rotateOut {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(-360deg) scale(0);
        transform: rotate(-360deg) scale(0);
    }
}
